html {
    scroll-behavior: smooth;
  }
  @import '../../node_modules/modern-normalize/modern-normalize.css';

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: var(--primaryColor);
  background-color: var(--extrabackgroundColor);

  margin: 0;
}


  h1, h2, h3, h4, h5, h6, p, ul {
    margin-top: 0;
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
  }
  picture,
 img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0;

  }

  .list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  
  .container {
    position: relative;
   
    margin: 0 auto;
    padding-left: 15px;
     padding-right: 15px;
 
     height:auto;
     max-width: 412px;

    //  outline: 1px solid crimson;


     @media screen and(min-width: 1200px) {
   
     max-width: 1200px;
     
  }
  }
 


