<section class="advantages">
    <div class="advantages__container container">

        <h2 class="advantages__title">Why Drone Light?</h2>
        <p class="advantages__paragraph">We provide a best self drone easy to use and operate. With auto pilot, the device will take a beautiful view for the best of flying operation.</p>

        <ul class="advantages__list list">
            <li class="advantages__list-item">
                <p class="advantages__list-value">4K</p>
                <p class="advantages__list-feature">Camera Resolution</p>
            </li>
            <li class="advantages__list-item">
                <p class="advantages__list-value">2 TB</p>
                <p class="advantages__list-feature">Storage Capacity</p>
            </li>
            <li class="advantages__list-item">
                <p class="advantages__list-value">60 m/s</p>
                <p class="advantages__list-feature">Super Max Speed</p>
            </li>
            <li class="advantages__list-item">
                <p class="advantages__list-value">30 mins</p>
                <p class="advantages__list-feature">Long Flight Time</p>
            </li>
        </ul>

    </div>

</section>