<footer class="footer" id="support">
    <div class="footer__container container">

        <div class="footer__logo-wrapper">
            <a class="footer__logo-link" href=""></a> 
                <!-- <svg class="footer__logo-img" width="69" height="25">
                   <use href="./images/sprite.svg#drone-logo"></use>
                 </svg> -->

                 <svg class="footer__burger" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 600 600" 
                       widht="80" height="80">
                    <defs>
                    </defs>
                    <path id="meat" fill="none" d="M348,305.5h-68.8c-2.7,0-4.9,2.2-4.9,4.9c0,2.7,2.2,4.9,4.9,4.9H348c2.7,0,4.9-2.2,4.9-4.9
                    C352.9,307.7,350.7,305.5,348,305.5z" />
                
                    <path id="topBun" fill="none" d="M323.4,276h-19.7c-13.6,0-24.6,11-24.6,24.6H348C348,287,337,276,323.4,276z" />
                    <path id="bottomBun" fill="none" d="M279.2,330.1c0,2.7,2.2,4.9,4.9,4.9h59c2.7,0,4.9-2.2,4.9-4.9v-9.8h-68.8V330.1z" />
                    <path id="bottom" fill="#EDEDED" d="M334.8,320.8h-42.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8h42.5
                    c2.1,0,3.8-1.7,3.8-3.8C338.7,322.5,337,320.8,334.8,320.8z" />
                    <path id="middle" fill="#EDEDED" d="M334.8,307.6h-42.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8h42.5
                    c2.1,0,3.8-1.7,3.8-3.8C338.7,309.3,337,307.6,334.8,307.6z" />
                    <path id="top" fill="#EDEDED" d="M334.8,294.4h-42.5c-2.1,0-3.8,1.7-3.8,3.8s1.7,3.8,3.8,3.8h42.5c2.1,0,3.8-1.7,3.8-3.8
                    S337,294.4,334.8,294.4z" />
                    <g id="seedGroup">
                      <path d="M301.3,296.7c-1.4,0-2.5-1.1-2.5-2.5c0-1.4,1.1-2.5,2.5-2.5s2.5,1.1,2.5,2.5C303.7,295.6,302.6,296.7,301.3,296.7z" />
                
                      <path d="M325.9,291.8c-1.4,0-2.5-1.1-2.5-2.5c0-1.4,1.1-2.5,2.5-2.5c1.4,0,2.5,1.1,2.5,2.5C328.3,290.7,327.2,291.8,325.9,291.8z" />
                      <path d="M311.1,286.8c-1.4,0-2.5-1.1-2.5-2.5c0-1.4,1.1-2.5,2.5-2.5s2.5,1.1,2.5,2.5C313.6,285.7,312.5,286.8,311.1,286.8z" />
                    </g>
                    <path id="cheese" fill="#2d2d2d" d="M342.2,305l-16,5.4l-16.7-5.4H342.2z" />
                
                    <rect id="hit" width="70" height="70" x="280" y="280" fill="rgba(0,0,0,0)" />
                  </svg>
                
           

            <h3 class="footer__title">autodrone</h3>
            
             <p class="footer__undertitle">Look up the sky and beautiful
                world easily.</p>
        </div>

        <div class="footer__explore-wrapper">

            <h3 class="footer__subtitle">Explore</h3>

            <ul class="footer__sublist list">
                <li class="footer__sublist-item">
                    <a class="footer__sublist-link" href="#">Our Services</a>
                </li>
                <li class="footer__sublist-item">
                    <a class="footer__sublist-link" href="#">Specification</a>
                </li>
                <li class="footer__sublist-item">
                    <a class="footer__sublist-link" href="#">Refund</a>
                </li>
                <li class="footer__sublist-item">
                    <a class="footer__sublist-link" href="#">Playlist</a>
                </li>
            </ul>
        </div>

        <div class="footer__account-wrapper">

            <h3 class="footer__subtitle">Account</h3>

            <ul class="footer__sublist list">
                <li class="footer__sublist-item">
                    <a class="footer__sublist-link" href="#">My Account</a>
                </li>
                <li class="footer__sublist-item">
                    <a class="footer__sublist-link" href="#">Top Benefit</a>
                </li>
                <li class="footer__sublist-item">
                    <a class="footer__sublist-link" href="#">How-to Tutorials</a>
                </li>
                <li class="footer__sublist-item">
                    <a class="footer__sublist-link" href="#">Moment</a>
                </li>
            </ul>
        </div>

        <div class="footer__office-wrapper">

            <h3 class="footer__subtitle">Office</h3>

            <ul class="footer__sublist list">
                <li class="footer__sublist-item">
                    <a class="footer__sublist-link" href="#">+021 2208 1996</a>
                </li>
                <li class="footer__sublist-item">
                    <a class="footer__sublist-link" href="#">SCBD, Jakarta</a>
                </li>
                <li class="footer__sublist-item">
                    <a class="footer__sublist-link" href="#">No.2 (Autodrone)</a>
                </li>
                <li class="footer__sublist-item">
                    <a class="footer__sublist-link" href="#">support@autodrone.id</a>
                </li>
            </ul>
        </div>


    </div>

</footer>