<footer class="footer">
    <div class="footer__container container">

        <div class="footer__logo-wrapper">
            <a class="footer__logo-link" href="#">
                <svg class="footer__logo-img" width="69" height="25">
                   <use href="./images/sprite.svg#drone-logo"></use>
                 </svg>
             </a>
             <h3 class="footer__title">autodrone</h3>
             <p class="footer__undertitle">Look up the sky and beautiful
                world easily.</p>
        </div>

        <div class="footer__explore-wrapper">

            <h3 class="footer__subtitle">Explore</h3>

            <ul class="footer__sublist list">
                <li class="footer__sublist-item">
                    <a class="footer__sublist-link" href="#">Our Services</a>
                </li>
                <li class="footer__sublist-item">
                    <a class="footer__sublist-link" href="#">Specification</a>
                </li>
                <li class="footer__sublist-item">
                    <a class="footer__sublist-link" href="#">Refund</a>
                </li>
                <li class="footer__sublist-item">
                    <a class="footer__sublist-link" href="#">Playlist</a>
                </li>
            </ul>
        </div>

        <div class="footer__account-wrapper">

            <h3 class="footer__subtitle">Account</h3>

            <ul class="footer__sublist list">
                <li class="footer__sublist-item">
                    <a class="footer__sublist-link" href="#">My Account</a>
                </li>
                <li class="footer__sublist-item">
                    <a class="footer__sublist-link" href="#">Top Benefit</a>
                </li>
                <li class="footer__sublist-item">
                    <a class="footer__sublist-link" href="#">How-to Tutorials</a>
                </li>
                <li class="footer__sublist-item">
                    <a class="footer__sublist-link" href="#">Moment</a>
                </li>
            </ul>
        </div>

        <div class="footer__office-wrapper">

            <h3 class="footer__subtitle">Office</h3>

            <ul class="footer__sublist list">
                <li class="footer__sublist-item">
                    <a class="footer__sublist-link" href="#">+021 2208 1996</a>
                </li>
                <li class="footer__sublist-item">
                    <a class="footer__sublist-link" href="#">SCBD, Jakarta</a>
                </li>
                <li class="footer__sublist-item">
                    <a class="footer__sublist-link" href="#">No.2 (Autodrone)</a>
                </li>
                <li class="footer__sublist-item">
                    <a class="footer__sublist-link" href="#">support@autodrone.id</a>
                </li>
            </ul>
        </div>


    </div>

</footer>