<section class="gallery" id="gallery">
    <div class="gallery__container">

        <div class="gallery__wrapper-1">
            
            <h2 class="gallery__title-1">Ultra Light</h2>
            <p class="gallery__undertitle-1">Drone move faster with weighing component <span class="dark-text">under 200 g</span></p>

        </div>

        <div class="gallery__wrapper-2">
            
            <h2 class="gallery__title-2 ">Best Resolution</h2>
            <p class="gallery__undertitle-2">Take a beautiful view with best camera up to 
                <span class="light-text">4K Camera Resolution</span></p>

        </div>
    </div>
    
</section>