<header class="header">
    <div class="header__container container">

        <a class="header__logo-link" href="#">
            <svg class="header__logo" width="56" height="20">
              <use href="./images/sprite.svg#drone-logo"></use>
            </svg>
        </a>

        <button class="header__menu-btn">
            <svg class="header__menu-icon" width="56" height="20">
                <use href="./images/sprite.svg#menu"></use>
              </svg>
        </button>

        <nav class="header__nav list">
            <li class="header__nav-item">
                <a class="header__nav-link" href="#">home</a>
            </li>
            <li class="header__nav-item">
                <a class="header__nav-link" href="#">gallery</a>
            </li>
            <li class="header__nav-item">
                <a class="header__nav-link" href="#">products</a>
            </li>
            <li class="header__nav-item">
                <a class="header__nav-link" href="#">review</a>
            </li>
            <li class="header__nav-item">
                <a class="header__nav-link" href="#">support</a>
            </li>

        </nav>

    </div>

</header>