<header class="header" id="home">
    <div class="header__container container">

        <a class="header__logo-link" href="./order_page.html">
           <svg class="header__logo" width="56" height="20">
              <use href="./images/sprite.svg#drone-logo"></use>
            </svg>
        </a> 


        <nav class="header__nav list">
            <li class="header__nav-item">
                <a class="header__nav-link" href="./index.html">home</a>
            </li>
            <li class="header__nav-item">
                <a class="header__nav-link" href="#gallery">gallery</a>
            </li>
            <li class="header__nav-item">
                <a class="header__nav-link" href="#products">products</a>
            </li>
            <li class="header__nav-item">
                <a class="header__nav-link" href="#reviews">reviews</a>
            </li>
            <li class="header__nav-item">
                <a class="header__nav-link" href="#support">support</a>
            </li>
        </nav>

        <button class="header__search-btn btn">&#8981</button>

        <!-- <button class="header__menu-close">&#10006</button> -->

        <!-- <button class="header__menu-btn btn">&#9776</button> -->

        
        <div id="burger-menu">
            <span></span>
          </div>
          
          <div id="menu">
              <ul class="menu__list">
                <li><a href="./index.html">Home</a></li>
                <li><a href="#gallery">gallery</a></li>
                <li><a href="#">products</a></li>
                <li><a href="#">reviews</a></li>
                <li><a href="#">support</a></li>
              </ul>
          </div>

        
        <!-- <button>&#x2630</button> -->
        <!-- <button>&#8981</button> -->
        <!-- <button>&#3868</button> -->
        <!-- <button>&#5010</button> -->
        <!-- <button>&#8286</button> -->
        <!-- <button>&#8803</button> -->
        <!-- <button>&#9775</button> -->

        <!-- <a class="search-icon"></a> -->

    </div>

</header>