<section class="order">
    <div class="order__container container">

        <div class="goods__wrapper">

            <div class="goods-img-max">
                <img id="goods-max" src="./images/order/drone-light-1-m.jpg" alt="alt" width="345">
            </div>

            <div class="goods-img-min">

                <div><img class="goods-min" src="./images/order/drone-light-1-m.jpg" alt="alt" width="75"></div>
                <div><img class="goods-min" src="./images/order/drone-light-2-m.jpg" alt="alt" width="75"></div>
                <div><img class="goods-min" src="./images/order/drone-light-3-m.jpg" alt="alt" width="75"></div>
                <div><img class="goods-min" src="./images/order/drone-light-4-m.jpg" alt="alt" width="75"></div>
           
            </div>
        </div>


<!-- =========================================================================== -->
<div class="order__wrapper-1">

        <h1 class="order__title">Drone Light</h1>
        <p class="order__undertitle">Super fast, easy control drone</p>

        <p class="order__price">$ 4.500,00</p>
        <h2 class="order__list-name">Drone features:</h2>

        <ul class="order__list list">
            <li class="order__list-item">

                <svg class="order__list-picture" width="30" height="25">
                  <use href="./images/sprite.svg#camera"></use>
                </svg>
                <p class="order__list-text">4K Camera Resolution</p>

            </li>
            <li class="order__list-item">

                <svg class="order__list-picture" width="30" height="25">
                  <use href="./images/sprite.svg#storage"></use>
                </svg>
                <p class="order__list-text">2 TB Storage</p>

            </li>
            <li class="order__list-item">

                <svg class="order__list-picture" width="30" height="25">
                  <use href="./images/sprite.svg#speed"></use>
                </svg>
                <p class="order__list-text">60 m/s Speed</p>

            </li>
            <li class="order__list-item">

                <svg class="order__list-picture" width="30" height="25">
                  <use href="./images/sprite.svg#battery"></use>
                </svg>
                <p class="order__list-text">5000 mAh Battery</p>

            </li>
        </ul>

        <button class="order__btn btn">ORDER IT NOW</button>
    </div>
<!-- =========================================================================== -->


<div class="order__wrapper-2">
    <h3 class="order__description-title">Description</h3>
    <p class="order__description-text">We provide a best self drone easy to use and operate. With auto pilot, the device will take a beautiful view for
        the best of flying operation. Drone light is every creators dream. Setting apperture manually and high battery
        performance. With 2 Terabyte storage, you can take a lot of picture in one take. 4K Camera resolution make
        your video clean and feels like a real environtment. Capture your moment in easy way effortlesly with auto
        pilot system. No need to learn how to fly and operate drone. Enjoy your simple and easy flying experience.
        Drone light is everything you need.</p>
</div>

    </div>

</section>