<section class="products" id="products">
    <div class="products__container container">

        <h2 class="products__title">New Products</h2>
        <p class="products__undertitle">New innovation, best quality than before. Make every moment flying operation become unforgettable.</p>

        <div class="products__wrapper">
            <div class="products__card">
                <picture class="products__picture">
            
                    <source
                      media="(max-width: 1199px)"
                      srcset="./images/prod/mini-drone-m.jpg 1x,
                             ./images/prod/mini-drone-m@2x.jpg 2x"/>
            
                    <source
                      media="(min-width: 1200px)"
                      srcset="./images/prod/mini-drone-d.jpg 1x,
                             ./images/prod/mini-drone-d@2x.jpg 2x"/>
                    <img
                      class="products__img"
                      src="./images/prod/mini-drone-m.jpg"
                      alt="picture" />
                  </picture>

                <h3 class="products__name">Mini Drone</h3>
                <p class="products__paragraph">Powerful camera drone at an
                    affordable price range. Camera
                    up to 4K resolution, optimize shots
                    automatically.</p>
                <button class="products__btn btn">GET NOW</button>
            </div>
            <div class="products__card">
                <picture class="products__picture">
            
                    <source
                      media="(max-width: 1199px)"
                      srcset="./images/prod/drone-light-m.jpg 1x,
                             ./images/prod/drone-light-m@2x.jpg 2x"/>
            
                    <source
                      media="(min-width: 1200px)"
                      srcset="./images/prod/drone-light-d.jpg 1x,
                             ./images/prod/drone-light-d@2x.jpg 2x"/>
                    <img
                      class="products__img"
                      src="./images/prod/drone-light-m.jpg"
                      alt="picture" />
                  </picture>
                  
                <h3 class="products__name">Drone Light</h3>
                <p class="products__paragraph">Drone light is every creators dream. Setting apperture manually and high battery  performance. Drone light is
                    everything you need.</p>
                <button class="products__btn btn">GET NOW</button>
            </div>
            <div class="products__card">
                <picture class="products__picture">
            
                    <source
                      media="(max-width: 1199px)"
                      srcset="./images/prod/phantom-drone-m.jpg 1x,
                             ./images/prod/phantom-drone-m@2x.jpg 2x"/>
            
                    <source
                      media="(min-width: 1200px)"
                      srcset="./images/prod/phantom-drone-d.jpg 1x,
                             ./images/prod/phantom-drone-d@2x.jpg 2x"/>
                    <img
                      class="products__img"
                      src="./images/prod/phantom-drone-m.jpg"
                      alt="picture" />
                  </picture>
                <h3 class="products__name">Phantom Drone</h3>
                <p class="products__paragraph">Inspired by phantom, drone
                    can move faster and quickly like a ghost.Focus on speed so you can investigate environtment quickly.</p>
                <button class="products__btn btn">GET NOW</button>
            </div>
        </div>



    </div>
</section>