// .search-icon::before {
//     content: "༜" ;
//     content: "☯" ;
//     content: "≣" ;
//   font-style: normal;
// }

.header {
    background-color:var(--blackColor);
}




.header__logo-link {
    padding: 0;
    margin: 0;
    height: 20px;

    transition: all 0.3s var(--transitionTimingFunction);

    &:hover,
    &:focus {
        outline: none;

        .header__logo{
            fill: var(--btn-hoverColor);
            scale: 1.2;
        }
        
    }
}

.header__logo {
    fill: var(--whiteColor);
    transition: all 0.3s var(--transitionTimingFunction);
}

.header__menu-btn {

    font-size: 25px;
    color: var(--whiteColor);

    transition: all 0.3s var(--transitionTimingFunction);
  

    @media screen and(min-width: 1200px) {
        display: none;
    }

    &:hover,
    &:focus {
        outline: none;
        color: var(--btn-hoverColor);
        scale: 1.2;
        
    }
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px;
    background-color:var(--blackColor);


    @media screen and(min-width: 1200px) {
       gap: 50px;
       
    }
}


.header__nav {
    display: none;

    @media screen and(min-width: 1200px) {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 100px;
    }
}

.header__nav-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: var(--whiteColor);  

    transition: all 0.3s var(--transitionTimingFunction);

    &:hover,
    &:focus {
        outline: none;
        color: var(--btn-hoverColor);
    }

}

.header__search-btn {
    font-size: 30px;
    line-height: 30px;

    transition: all 0.3s var(--transitionTimingFunction);

    @media screen and(max-width: 1199px) {
        display: none;
    }

    &:hover,
    &:focus {
        outline: none;
        color: var(--btn-hoverColor);
        scale: 1.2;
        
    }
}